body {
  font-family: "Hind Siliguri", Helvetica, sans-serif;
}

img {
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  max-width: 100%;
  max-height: 100%;
}

.app {
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.app .header {
  width: 100%;
}
.app .header .logo {
  width: 100%;
  height: 200px;
  object-fit: contain;
  margin: auto;
}
.app .header .headerInfo {
  display: flex;
  justify-content: space-between;
}
.app .header .headerInfo .headerInfoItem {
  margin: 2px;
}
.app .header #logoContainer {
  position: relative;
}
.app .header #quoteOfTheDay {
  position: absolute;
  border: 1px solid black;
  margin: 40px 20px;
  padding: 20px;
  width: 18%;
}
@media only screen and (max-width: 768px) {
  .app .header #quoteOfTheDay {
    position: inherit;
    width: 90%;
    margin: 10px 0 0 0;
  }
}
.app .headlineContainer {
  display: flex;
  padding: 10px 0px;
}
.app .headlineContainer #resumeIntro {
  width: 30%;
  border: 1px solid black;
  padding: 10px;
}
.app .headlineContainer #newsHeadlines {
  width: 70%;
  margin: 0px 10px;
  display: flex;
  justify-content: space-around;
}
.app .headlineContainer #newsHeadlines h1, .app .headlineContainer #newsHeadlines h6 {
  margin: 0px;
}
.app .heading {
  margin: 0px;
  padding: 2px;
  background: black;
  color: white;
}
.app .footer {
  display: flex;
  justify-content: space-around;
}
.app .box {
  padding: 10px;
}
.app .box.dark-mode {
  background: black;
  color: #bbb;
}
.app .box.dark-mode h1 {
  color: white;
  margin: 0px;
}
.app .nobullets {
  list-style-type: none;
}
.app .card {
  display: flex;
  margin: 10px 0px;
}
.app .card .cardImg {
  margin: 10px 10px 0px 0px;
  max-width: 80px;
  max-height: 80px;
  object-fit: contain;
}
.app #resumeDetails {
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 20px;
}
.app #additionalNews {
  display: flex;
  justify-content: space-between;
}
.app #additionalNews .newsDisplay {
  margin: 10px;
}
.app #additionalNews .newsDisplay .newsDisplayTitle {
  line-height: 2.5ex;
  text-overflow: ellipsis;
  height: 7.5ex;
  /* 2.5ex for each visible line */
  overflow: hidden;
}
.app #additionalNews .newsDisplay .newsDisplayAuthor {
  line-height: 2.5ex;
  text-overflow: ellipsis;
  height: 2.5ex;
  /* 2.5ex for each visible line */
  overflow: hidden;
}

@keyframes tint {
  50% {
    border: 1px solid black;
  }
}
@keyframes fill {
  50% {
    transform: scale(0.8);
  }
}
.loader {
  color: #EEB771;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem 0;
}
.loader__dots__dot {
  width: 20px;
  height: 20px;
  background: transparent;
  display: inline-block;
  border: 1px solid white;
  position: relative;
  margin-right: 10px;
}
.loader__dots__dot:before {
  content: "";
  width: 18px;
  height: 18px;
  display: block;
  background: white;
  position: absolute;
  transform: scale(0.5);
  top: 0;
  left: 0;
  transform-origin: center;
}
.loader__dots__dot:nth-child(1) {
  animation: tint 1200ms infinite;
}
.loader__dots__dot:nth-child(1):before {
  animation: fill 1200ms infinite;
}
.loader__dots__dot:nth-child(2) {
  animation: tint 1200ms infinite 200ms;
}
.loader__dots__dot:nth-child(2):before {
  animation: fill 1200ms infinite 200ms;
}
.loader__dots__dot:nth-child(3) {
  animation: tint 1200ms infinite 400ms;
}
.loader__dots__dot:nth-child(3):before {
  animation: fill 1200ms infinite 400ms;
}